html, body {
  height: 100vh !important;
  margin: 0;
  padding: 0;    
}

body {
  transition: background-color 1s ease;
}
div#wrapper {
  position: absolute;
  right: 0;
  top:82%;
}
div#wrapper div {
  position: relative;
  right: -48%;
}

#knob {
  position: relative;
  right: -50%;
  bottom: -50%;
  background-image: url('selector.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:600px; 
  height:600px;
}
